In [141]:
import pandas as pd
df=pd.read_csv("Downloads/fitness_dataset_ml.csv")
df

,TotalSteps,Calories,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance,TotalActiveMinutes,TotalDistance,ActivityDayName,TotalMinutesAsleep,TotalTimeInBed,WeightKg,Heightm,BMI
0,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,327,346,119.653280,1.832444,35.633890
1,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,750,775,119.653280,1.832444,35.633890
2,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,503,546,119.653280,1.832444,35.633890
3,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,274,469,119.653280,1.832444,35.633890
4,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,501,541,119.653280,1.832444,35.633890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12620,8064,1849,770,137,1,23,0.0,4.25,0.04,1.82,161,6.11,Thursday,404,442,42.258115,1.518605,18.324003
12621,8064,1849,770,137,1,23,0.0,4.25,0.04,1.82,161,6.11,Thursday,438,475,42.258115,1.518605,18.324003
12622,8064,1849,770,137,1,23,0.0,4.25,0.04,1.82,161,6.11,Thursday,516,535,42.258115,1.518605,18.324003
12623,8064,1849,770,137,1,23,0.0,4.25,0.04,1.82,161,6.11,Thursday,444,457,42.258115,1.518605,18.324003
12624,8064,1849,770,137,1,23,0.0,4.25,0.04,1.82,161,6.11,Thursday,496,546,42.258115,1.518605,18.324003

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12625 entries, 0 to 12624
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TotalSteps                12625 non-null  int64
 1   Calories                  12625 non-null  int64
 2   SedentaryMinutes          12625 non-null  int64
 3   LightlyActiveMinutes      12625 non-null  int64
 4   FairlyActiveMinutes       12625 non-null  int64
 5   VeryActiveMinutes         12625 non-null  int64
 6   SedentaryActiveDistance   12625 non-null  float64
 7   LightActiveDistance       12625 non-null  float64
 8   ModeratelyActiveDistance  12625 non-null  float64
 9   VeryActiveDistance        12625 non-null  float64
 10  TotalActiveMinutes        12625 non-null  int64
 11  TotalDistance             12625 non-null  float64
 12  ActivityDayName           12625 non-null  object
 13  TotalMinutesAsleep        12625 non-null  int64
 14  TotalTimeInBed            12625 non-null  int64
 15  WeightKg                  12625 non-null  float64
 16  Heightm                   12625 non-null  float64
 17  BMI                       12625 non-null  float64
dtypes: float64(8), int64(9), object(1)
memory usage: 1.7+ MB

In [143]:
df.describe()

,TotalSteps,Calories,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance,TotalActiveMinutes,TotalDistance,TotalMinutesAsleep,TotalTimeInBed,WeightKg,Heightm,BMI
count,12625.000000,12625.000000,12625.000000,12625.000000,12625.000000,12625.000000,12625.000000,12625.000000,12625.000000,12625.000000,12625.000000,12625.000000,12625.000000,12625.000000,12625.000000,12625.000000,12625.000000
mean,7677.291564,2315.398495,992.791446,194.197545,13.660436,21.265822,0.001589,3.360555,0.570082,1.507958,229.123802,5.438596,419.308990,458.611327,79.452327,1.709165,27.307621
std,5106.688864,710.280611,298.075854,109.087189,20.030390,33.115259,0.007336,2.044217,0.882671,2.686800,121.619151,3.952713,118.507042,127.342981,22.823911,0.149948,7.688076
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,58.000000,61.000000,42.258115,1.406053,15.807240
25%,3821.000000,1838.000000,730.000000,129.000000,0.000000,0.000000,0.000000,1.960000,0.000000,0.000000,149.000000,2.590000,361.000000,403.000000,58.596953,1.621623,21.478784
50%,7412.000000,2150.000000,1057.000000,199.000000,7.000000,4.000000,0.000000,3.380000,0.240000,0.210000,248.000000,5.180000,432.000000,463.000000,79.619745,1.719187,26.143626
75%,10735.000000,2796.000000,1229.000000,266.000000,20.000000,32.000000,0.000000,4.790000,0.810000,2.040000,318.000000,7.670000,490.000000,526.000000,99.942953,1.827889,32.423042
max,36019.000000,4900.000000,1440.000000,518.000000,143.000000,210.000000,0.110000,10.710000,6.480000,21.920000,552.000000,28.020000,796.000000,961.000000,119.653280,1.947905,43.809777

**Display the first 10 rows of the dataset**

In [144]:
df.head(10)

,TotalSteps,Calories,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance,TotalActiveMinutes,TotalDistance,ActivityDayName,TotalMinutesAsleep,TotalTimeInBed,WeightKg,Heightm,BMI
0,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,327,346,119.65328,1.832444,35.63389
1,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,750,775,119.65328,1.832444,35.63389
2,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,503,546,119.65328,1.832444,35.63389
3,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,274,469,119.65328,1.832444,35.63389
4,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,501,541,119.65328,1.832444,35.63389
5,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,429,457,119.65328,1.832444,35.63389
6,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,425,439,119.65328,1.832444,35.63389
7,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,441,464,119.65328,1.832444,35.63389
8,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,419,438,119.65328,1.832444,35.63389
9,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,366,387,119.65328,1.832444,35.63389

### What is the shape of the dataset (rows, columns)?

In [145]:
df.shape

(12625, 18)

### Check for duplicate records. How many duplicates are present? Remove them.**

In [146]:
print(df.duplicated().value_counts())

False    12503
True       122
Name: count, dtype: int64

### Droping Duplicate Values

In [147]:
df.drop_duplicates(inplace=True)
df

,TotalSteps,Calories,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance,TotalActiveMinutes,TotalDistance,ActivityDayName,TotalMinutesAsleep,TotalTimeInBed,WeightKg,Heightm,BMI
0,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,327,346,119.653280,1.832444,35.633890
1,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,750,775,119.653280,1.832444,35.633890
2,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,503,546,119.653280,1.832444,35.633890
3,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,274,469,119.653280,1.832444,35.633890
4,13162,1985,728,328,13,25,0.0,6.06,0.55,1.88,366,8.49,Tuesday,501,541,119.653280,1.832444,35.633890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12620,8064,1849,770,137,1,23,0.0,4.25,0.04,1.82,161,6.11,Thursday,404,442,42.258115,1.518605,18.324003
12621,8064,1849,770,137,1,23,0.0,4.25,0.04,1.82,161,6.11,Thursday,438,475,42.258115,1.518605,18.324003
12622,8064,1849,770,137,1,23,0.0,4.25,0.04,1.82,161,6.11,Thursday,516,535,42.258115,1.518605,18.324003
12623,8064,1849,770,137,1,23,0.0,4.25,0.04,1.82,161,6.11,Thursday,444,457,42.258115,1.518605,18.324003
12624,8064,1849,770,137,1,23,0.0,4.25,0.04,1.82,161,6.11,Thursday,496,546,42.258115,1.518605,18.324003

In [148]:
print(df.duplicated().value_counts())

False    12503
Name: count, dtype: int64

### Check for null values in each column and handle them appropriately

In [149]:
df=df.isnull().sum()
df

TotalSteps                  0
Calories                    0
SedentaryMinutes            0
LightlyActiveMinutes        0
FairlyActiveMinutes         0
VeryActiveMinutes           0
SedentaryActiveDistance     0
LightActiveDistance         0
ModeratelyActiveDistance    0
VeryActiveDistance          0
TotalActiveMinutes          0
TotalDistance               0
ActivityDayName             0
TotalMinutesAsleep          0
TotalTimeInBed              0
WeightKg                    0
Heightm                     0
BMI                         0
dtype: int64

### Checking validation for Total Distance, Total Minutes, and Total Active Minutes columns

In [150]:
df['TotalActiveMinutes'] = (df['LightlyActiveMinutes']+df['FairlyActiveMinutes']+df['VeryActiveMinutes'])

In [151]:
df

TotalSteps                  0
Calories                    0
SedentaryMinutes            0
LightlyActiveMinutes        0
FairlyActiveMinutes         0
VeryActiveMinutes           0
SedentaryActiveDistance     0
LightActiveDistance         0
ModeratelyActiveDistance    0
VeryActiveDistance          0
TotalActiveMinutes          0
TotalDistance               0
ActivityDayName             0
TotalMinutesAsleep          0
TotalTimeInBed              0
WeightKg                    0
Heightm                     0
BMI                         0
dtype: int64

### Drop unnecessary columns from the DataFrame.

In [152]:
df.drop(['LightlyActiveMinutes','FairlyActiveMinutes','VeryActiveMinutes','SedentaryActiveDistance','LightActiveDistance','VeryActiveDistance','TotalTimeInBed','BMI'],inplace=True)

In [153]:
df

TotalSteps                  0
Calories                    0
SedentaryMinutes            0
ModeratelyActiveDistance    0
TotalActiveMinutes          0
TotalDistance               0
ActivityDayName             0
TotalMinutesAsleep          0
WeightKg                    0
Heightm                     0
dtype: int64

### Rename columns in the DataFrame with meaningful names

In [156]:
df=df.rename(columns={'Heightm':'Heightinmetre','WeightKg':'Weightinkg'})
print(type(df))

TypeError: Series.rename() got an unexpected keyword argument 'columns'

In [ ]:
d